<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="favicon2.png" />
    <link rel="manifest" href="manifest.json" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>GoResto - HomePage</title>
  </head>
  <body>
    <a href="#exploreTitle" class="skip-link">Skip To Content</a>
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">GoResto</h1>
      </div>
      <nav class="nav__bar" id="drawer">
        <ul class="nav__list">
          <li class="nav__item"><a href="#/home">Home</a></li>
          <li class="nav__item"><a href="#/favourite">Favourite</a></li>
          <li class="nav__item">
            <a href="https://www.instagram.com/juliushtg24/">About Us</a>
          </li>
        </ul>
      </nav>
      <button id="menu" class="nav__menu" aria-label="navigation-menu">
        ☰
      </button>
    </header>
    <main>
      <h2 tabindex="0" class="explore__title" id="exploreTitle">
        Explore Restaurant
      </h2>
    </main>
    <footer>Copyright © 2020 - GoResto Company</footer>
  </body>
</html>
